<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%# @page.name %>
</p>

<p>
  <strong>Content:</strong>
  <%# @page.content %>
</p> -->

<%# link_to 'Edit', edit_page_path(@page) %> |
<%# link_to 'Back', pages_path %>


<div class="container">

	<div class="col-md-2">
		<%=LeftSidebar.first.content.html_safe%>
	</div>

	<div class="col-md-7" style="background: #fff; //height: 50em; border-radius: 1em; padding: 1em;">

	<h4><%=@page.name%></h4>
	<hr>
	<%=@page.content.html_safe%>
		
	</div>

	<div class="col-md-2">
		<%=LeftSidebar.first.content.html_safe%>
	</div>
</div>