<%= form_for(@left_sidebar) do |f| %>
  <% if @left_sidebar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@left_sidebar.errors.count, "error") %> prohibited this left_sidebar from being saved:</h2>

      <ul>
      <% @left_sidebar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
